# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output build directories
dist/
build/
out/
.aws-sam/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Local database mock files
mock-db.json
mock-db.json.backup

# Webpack or package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
samconfig.toml
